@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic,cyrillic-ext');

body {
  padding:0;
  margin:0;
  font-family: 'Pacifico', cursive;
  /* background: url(../img/phon.jpg)no-repeat; */

}

.font_left {
  font-family: 'Pacifico', cursive;
  color: #347fa9
}

/* ===============>>> HEADER <<<================ */
header {
  padding:10px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}

header .header_logo_title {
  text-transform: uppercase;
  font-size: 40px;
}

header .header_logo_caption {
  text-transform: uppercase;
}

